<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="../style.css" />
  <link rel="stylesheet" href="../fonts/iconfont.css" />
  <script src="../js/vue.js"></script>
  <script src="../js/vue-resource.js"></script>
</head>

<body>

<div id="app">
  <div class="container">
    <simple-grid :data-list="gridData" :columns="gridColumns" v-on:load-entry="loadCustomer">
    </simple-grid>
  </div>

  <div class="container">
    <div class="form-group">
      <button @click="this.show = true">Create</button>
    </div>
  </div>

  <modal-dialog v-bind:show.sync="show" v-bind:hide.sync="hide">

    <header class="dialog-header" slot="header">
      <h1 class="dialog-title">Create a job</h1>
    </header>

    <div class="dialog-body" slot="body">
      <div v-show="item.customerId" class="form-group">
        <label>Customer Id</label>
        <input type="text" v-model="item.id" disabled="disabled" />
      </div>
      <div class="form-group">
        <label>Company Name</label>
        <input type="text" v-model="item.dockerREP" :disabled="hide"/>
      </div>
      <div class="form-group">
        <label>Contact Name</label>
        <input type="text" v-model="item.dockerTag" :disabled="hide"/>
      </div>
      <div class="form-group">
        <label>error</label>
        <span>{{item.error}}</span>
      </div>
      <div class="form-group">
        <label></label>
        <button id="createBtn" @click="saveCustomer" style="display: none;">Save</button>
      </div>
    </div>
  </modal-dialog>
</div>

<template id="grid-template">
  <table>
    <thead>
    <tr>
      <th v-for="col in columns">
        {{ col.name | capitalize}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(index,entry) in dataList">
      <td v-for="col in columns">
        <span v-if="col.isKey"><a href="javascript:void(0)" @click="loadEntry(entry[col.name])">{{ entry[col.name] }}</a></span>
        <span v-else>{{ entry[col.name] }}</span>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<template id="dialog-template">
  <div class="dialogs">
    <div class="dialog" v-bind:class="{ 'dialog-active': show }">
      <div class="dialog-content">
        <div class="close rotate">
          <span class="iconfont icon-close" @click="close"></span>
        </div>
        <slot name="header"></slot>
        <slot name="body"></slot>
        <slot name="footer"></slot>
      </div>
    </div>
    <div class="dialog-overlay"></div>
  </div>
</template>
y
<script src="js/vue.js"></script>
<script src="js/vue-resource.js"></script>
<script>
  Vue.component('simple-grid', {
    template: '#grid-template',
    props: ['dataList', 'columns'],
    methods: {
      loadEntry: function(key) {
        this.$dispatch('load-entry', key)
      }
    }
  })

  Vue.component('modal-dialog', {
    template: '#dialog-template',
    props: ['show','hide'],
    methods: {
      close: function() {
        this.show = false
        this.hide = false
      }
    }
  })
</script>
<script>
  var demo = new Vue({
    el: '#app',
    data: {
      hide:false,
      show: false,
      title: '',
      gridColumns: [{
        name: 'id',
        isKey: true
      }, {
        name: 'dockerREP'
      }, {
        name: 'dockerTag'
      }],
      gridData: [],
      apiUrl: 'http://127.0.0.1:9090/jobs',
      item: {}
    },
    ready: function() {
      this.getCustomers()
    },
    methods: {
      closeDialog: function() {
        this.show = false
      },
      loadCustomer: function(customerId) {
        var resource = this.$resource(this.apiUrl)
        vm = this
        console.log(this.apiUrl+'/'+customerId)
        resource.get(this.apiUrl)
          .then((response) => {
            vm.$set('item', response.data[customerId-1])
            vm.$set('hide', true)
            vm.$set('show', true)
          })
      },
      saveCustomer: function() {
        this.item.customerId ? this.updateCustomer() : this.createCustomer()
        this.show = false
      },
      getCustomers: function() {

        var resource = this.$resource(this.apiUrl)
        vm = this

        resource.get()
          .then((response) => {
            vm.$set('gridData', response.data)
          })
      },
      createCustomer: function() {
        var resource = this.$resource(this.apiUrl)
        vm = this
        document.getElementById('createBtn').style.display = 'inline'
        resource.save(vm.apiUrl, vm.item)
          .then((response) => {
            vm.$set('item', {})
            vm.getCustomers()
          })
        this.show = false
      },
      updateCustomer: function() {
        var resource = this.$resource(this.apiUrl)
        vm = this

        resource.update({ id: vm.item.customerId}, vm.item)
          .then((response) => {
            vm.getCustomers()
          })
      }
    }
  })
  demo.$watch('show', function(newVal, oldVal) {
    if (!newVal) {
      this.item = {}
    }
  })
</script>
</body>

</html>
