<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../fonts/iconfont.css" />
    <script src="../js/vue.js"></script>
    <script src="../js/vue-resource.js"></script>
</head>
<body>

<div id="app">
    <div class="container">
        <simple-grid :data-list="gridData" :columns="gridColumns"></simple-grid>
    </div>

    <div class="container">
        <div class="form-group">
            <button @click="this.show = true">Create a job</button>
        </div>
    </div>
</div>
<template id="grid-template">
    <table>
        <thead>
        <tr>
            <th v-for="col in columns">
                {{ col.name}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(index,entry) in dataList">
            <td v-for="col in columns">
                {{ entry[col.name] }}
            </td>
        </tr>
        </tbody>
    </table>
</template>

</body>

<script>
    Vue.component('simple-grid', {
        template: '#grid-template',
        props: ['dataList', 'columns']
    })

    var demo =  new Vue({
        el : "#app",
        data : {
            show : false,
            gridColumns : [{
                name : 'id',
                isKey : true
            },{
                name : 'dockerREP'
            },{
                name : 'dockerTag'
            }],
            gridData:[],
            apiUrl: 'http://127.0.0.1:9090/jobs',
            item : {}
        },
        ready : function () {
            this.getJobs()
        },
        methods: {
            getJobs: function () {
                var resource = this.$resource(this.apiUrl)
                vm = this
                resource.get()
                        .then((response) => {
                            vm.$set('gridData', response.data)
                        })
                        .catch(function(response) {
                            console.log(response)
                        })
            }

        }
    })
</script>
</html>